<!DOCTYPE html>
<html lang="en">
<head>
  <title>Images</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<nav class="navbar navbar-inverse">
  <!-- from https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Images</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/all">Toutes</a></li>
        <li><a href="/upload">ajouter image</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="search-container">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <input type="text" placeholder="recherche…" ngModel name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
<div class="row">
  <div class="hidden-xs col-sm-2">
    <ul *ngIf="resultats" class="list-group-item">
      tags :
      <li *ngFor="let k of resultats._embedded.keyWords">
        <a target="{{k.mot}}" href="./search/{{k.mot}}">
          <div class="clickable">{{k.mot}}</div>
        </a>
      </li>
    </ul>
  </div>

  <div  class="col-sm-10">
    <router-outlet>
    </router-outlet>
  </div>
</div>
</div>



</html>
