.my-drop-zone {
  border: dotted 3px lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100px;
  height: 100px;
  display: block;
}
