<div>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

      <p>mots clefs :<input name="motsClefs" ngModel  type="texte" placeholder="foo, bar"></p>

      <div>
        <label for="file">
          <input id="file"  type="file"  multiple placeholder="nom" (change)="onFilesChange($event)">
          <div class="my-drop-zone">
            ajouter photo
          </div>
        </label>
        <div *ngIf="files.length > 0">
          {{files.length}} images à ajouter
        </div>
      </div>

      <button type="submit">ajouter<i class="glyphicon-cloud-upload"></i></button>

    </form>

</div>
