<div>
  <div *ngIf="nomImage">
    <h1>{{nomImage}}</h1>
    <img src="{{URLImage}}" *ngIf="URLImage" alt="{{nomImage}}" max-html ="500px"/>
  </div>

  <br/>

  <div >
    <p *ngIf="id"> id de l'image = {{id}}</p>
    <p *ngIf="id"> date de création = {{image.creationDate | date:'medium'}}</p>
  </div>

  <div class="nav">
    <div class="panel-heading"> Mots clefs&#8239;: </div>
    <div class="panel-body" >
      <ul *ngIf="keyWords">
        <li *ngFor="let k of keyWords._embedded.keyWords">
          <a target="{{k.mot}}" href="./search/{{k.mot}}">
            <div class="clickable">{{k.mot}} </div>
          </a>
        </li>
        <li>
          <button *ngIf="ajout==false" (click)="this.ajout=true"><i class="glyphicon-plus" ></i></button>
        </li>
        <div *ngIf="ajout==true">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <input name="motClef" id="motClef" type="text" placeholder="ajouter mot clef" ngModel/>
            <button type="submit">ajouter</button>
          </form>
        </div>
      </ul>
    </div>
  </div>
</div>
