.texte {
  padding-left: 40px;
  padding-right: 40px
}

.panel-heading {
  padding-left: 40px;
}

.titre-vignette {
  max-height: 15px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vignette {
  line-height: 12px;
  width: 105px;
  max-width: 105px;
  height: 130px;
  max-height: 130px;
  text-overflow:   ellipsis;
  font-size: 14px;
}

.thumb {
  max-width: 100px;
  max-height: 100px;
}
