<div class="nav">
  <div class="panel-default">
    <div class="panel-heading">
      Images :
    </div>
    <div class="panel-body">
      <ul *ngIf="resultats" class="nav nav-pills">
        <li *ngFor="let i of resultats" class="clickable">
          <a target="{{i.name}}" href="./view/{{i.id}}">
            <div class="vignette">
              <div class="titre-vignette">
                {{i.name}}
              </div>
              <br/>
              <img src="{{this.imagesService.previewHost + i.fileName + '.jpg' }}" alt="{{i.name}}" class=thumb/>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
